.documentsContainer {
  background-color: rgba(188, 207, 207, 0.479);
  margin-top: 63px;
}

.mydocumentsList {
  float: left;
  width: 80%;
  margin-bottom: 150px;
}
.navigationList {
  float: right;
  width: 20%;
  padding: 15px;
}

.headerNav {
  text-align: right;
  direction: rtl;
}
